if SHIELD_LIBRE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "libre"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LIBRE_LEFT || SHIELD_LIBRE_RIGHT

config ZMK_SPLIT
    default y

endif
